* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
}

/*header*/
.header_bottom {
    background: #5f1d2b;
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 120px;
}

.header_bottom_left {
    display: flex;
    align-items: center;
    grid-gap: 80px;
}

.header_top {
    background: #39151c;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    position: relative;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-size: 14px;
}

.menu ul li {
    color: #fff;
}

.menu ul li a {
    color: #fff;
}

.fixed_search_form {
    background: #fff;
    display: flex;
    align-items: center;
    grid-gap: 30px;
    padding: 0;
    height: 36px;
    border-radius: 40px;
}

.fixed_search_form p {
    margin: 0;
    font-size: 12px;
    padding-left: 20px;
    color: #939393;
    line-height: normal;
}

.header_searchIcon {
    background: #5f1d2b;
    height: 36px;
    width: 36px;
    border-radius: 0 40px 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 2px;
}

.header_searchIcon i {
    color: #fff;
    font-size: 18px;
}

.header_bottom_right ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.header_bottom_right ul li a {
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    grid-gap: 6px;
    text-decoration: none;
    font-family: var(--font-family-serif);
}

.active {
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 4px;
    border-bottom: 2px solid #ffffff;
}


.header_bottom_right ul li a i {
    font-size: 20px;
}

.header_bottom_right {
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

.header_top_right {
    display: flex;
    gap: 30px;
}

.header_top_right ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

.header_top_right ul a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    grid-gap: 4px;
    text-decoration: none;
}

.header_top_right ul a i {
    font-size: 18px;
}

.header_top_left ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    grid-gap: 18px;
    list-style: none;
}

.header_top_left ul li {
    position: relative;
}

.header_top_left ul li a {
    display: flex;
    align-items: center;
    grid-gap: 4px;
    color: #fff;
    font-size: 12px;
}

.header_top_left ul li a i {
    font-size: 15px;
}

.what-btn {
    background-color: #ffffff;
    border: 1px solid #5f1d2b;
    border-radius: 10px;
    padding: 1px 10px;
    color: #5f1d2b;
}

.what-btn svg {
    width: 15px;
}

.what-btn span {
    display: flex;
    align-items: center;
    margin-right: 10px;   
}
.what-btn a {
    text-decoration: none;
    color: #000;

}
.header_searchIcon svg {
    width: 20px;
}




/* .btn_button_border {
    outline: 0;
    display: flex
;
    align-items: center;
    grid-gap: var(--gap6);
    transition: 0.5s;
    justify-content: center;
    background-color: var(--backgroundwhite);
    color: var(--textcolor);
    padding: 0 var(--gap16);
    border: 1px solid var(--textcolor);
    font-weight: var(--font400);
    line-height: normal;
} */

/*header*/

/*footer*/
.footer_top {
    background: #5f1d2b;
    padding: 35px 0;
}

.footer_md {
    background: #591e2b;
    padding: 35px 0;
}

.footer_heading {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 18px;
    color: #fff;
}

.footer_box ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer_box ul li a {
    font-size: 14px;
    margin-bottom: 8px;
    color: #fff;
    text-decoration: none;
}

.footer_box ul li {
    margin-bottom: 8px;
}

.footer_bottom {
    padding: 16px 0;
    background: #4e1b26;
}

.footer_bottom p {
    margin: 0;
    color: #fff;
    font-size: 13px;
}

.footer_bottom p a {
    margin: 0;
    color: #fff;
    font-size: 13px;
}

.footer_mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialmedia ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.socialmedia ul li a {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialmedia ul li a i {
    font-size: 24px;
    color: #5f1d2b;
}

.contactdetails {
    margin-bottom: 24px;
}

.contactdetails ul li a i {
    font-size: 20px;
}

.contactdetails ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 12px;
}

.contactdetails ul li {
    margin-bottom: 12px;
}

.row {
    display: flex;
    gap: 160px;
}

.col-md-3 {
    width: 150px;
}

.fot-last {
    justify-content: space-between;
}

.footer_bottom p a {
    text-decoration: none;
}

/*footer*/

.dis-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: ; */
}

section {
    margin: 50px auto;
    background-color: #ffffff;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.h1-head {
    border-bottom: 2px solid #5f1d2b;
    margin-bottom: 30px;
}

h1 {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}

.card-container {
    /* justify-content: space-between; */
    gap: 35px;
    margin-bottom: 50px;
}

.card {
    border: 1px solid #5f1d2b;
    padding: 50px 30px 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(95, 29, 43, 0.4);
    width: 350px;
    min-height: 445px;
}


.head,
.logo-new {
    text-align: center;
    margin-bottom: 20px;
}

.logo-new img {
    width: 120px;
}

.min-ht {
    min-height: 94px;
}

.head a {
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    font-weight: 600;
}

.h1-head p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
    text-align: center;
}

.rating {
    padding: 2px 7px;
    background-color: #26A373;
    border-radius: 7px;
    font-size: 14px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
    color: #ffffff;
}

.review {
    font-size: 14px;
    color: #2e5fbc;
}

.location {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 10px;
}

.location svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.detail li {
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 10px;
}

.detail ul li span svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.detail ul li span {
    display: flex;
    align-items: center;
}

.detail {
    margin-bottom: 20px;
}

/* .button span a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
} */

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .button span {
    padding: 10px 25px;
    border-radius: 20px;
    border: 2px solid #5f1d2b;
} */


.call-btn a {
    color: #5f1d2b;
    background-color: #ffffff;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 20px;
    border: 2px solid #5f1d2b;
}

.apply-btn {
    /* background-color: #ffffff;
    text-decoration: none; */
    padding: 10px 0;
}

.apply-btn a {
    color: #ffffff;
    background-color: #5f1d2b;
    padding: 10px 25px;
    border-radius: 20px;
    border: 2px solid #5f1d2b;
    text-decoration: none;
}

.call-btn:hover a {
    color: #ffffff;
    background-color: #5f1d2b;
}

.apply-btn:hover a {
    color: #5f1d2b;
    background-color: #ffffff;
}


.featured-wrap {
    position: relative;
}

.popular {
    background-color: #5f1d2b;
    width: 90px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    align-items: center;
    padding: 10px 0;
    position: absolute;
    left: 220px;
    bottom: 24px;
}

.popular:before {
    content: "";
    position: absolute;
    /* z-index: -1; */
    top: 0;
    right: 99.5%;
    width: 6px;
    height: 8px;
    background: #5f1d2b;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    background-color: #5f1d2b;
}

.most {
    font-size: 12px;
    font-weight: 700;
    line-height: 14.5px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}

.popular:after {
    content: "";
    position: absolute;
    /* z-index: -1; */
    top: 0;
    left: 99.7%;
    width: 6px;
    height: 8px;
    background: #5f1d2b;
    -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    background-color: #5f1d2b;
}

/* .apply-btn a { */
/* background-color: #007bff; */
/* color: #fff; */
/* padding: 12px 24px; */
/* text-decoration: none; */
/* border-radius: 5px; */
/* font-size: 16px;
} */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 100px 15px;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/* Form Animation */
.popup-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    /* overflow: hidden; */
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-30px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.overlay.active .popup-form {
    transform: translateY(0);
    opacity: 1;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 11px;
    font-size: 30px;
    cursor: pointer;
    color: #000000;
}




.popup-form h2 {
    margin: 0 0 16px;
    font-size: 18px;
    color: #000000;
}

.form-group {
    /* margin-bottom: 12px; */
    position: relative;
}

.last-group{
    margin-bottom: 10px;
}

.form-group label {
    font-size: 13px;
    margin-bottom: 4px;
    display: block;
    position: relative;
    z-index: 2;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px 10px 10px 36px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    box-sizing: border-box;
}

.form-group svg {
    position: absolute;
    top: 31px;
    left: 10px;
    width: 16px;
    height: 16px;
    fill: #888;
    pointer-events: none;
    z-index: 1;
}

.form-group input:invalid,
.form-group select:invalid {
    border-color: #000000;
}

.form-group input:valid,
.form-group select:valid {
    border-color: #2ecc71;
}

.error-msg {
    font-size: 12px;
    color: red;
    display: none;
}

.checkbox {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    margin-bottom: 15px;
}

.checkbox input {
    margin-right: 10px;
    margin-top: 4px;
}

.checkbox a {
    color: #000000;
    text-decoration: none;
    font-weight: 550;
}

.popup-form button {
    width: 100%;
    padding: 12px;
    background-color: #5f1d2b;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.clr {
    color: black;
    font-weight: 400;
    font-size: 12px;
}

.hamburger{
    display: none;
}



@media (max-width: 768px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .container {
        margin: 0 15px;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        padding: 35px 25px 25px;
        border-radius: 10px;
    }

    .popular {
        width: 80px;
        left: 230px;
        bottom: 8px;
    }

    .header_top_right ul {
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
    }

    .header_top {
        padding: 10px 5px;
        justify-content: space-between;
    }

    .header_top_left {
        width: 150px;
    }

    .fixed_search_form p {
        display: none;
    }

    .header_searchIcon {
        left: 115px;
    }

    .header_bottom {
        padding: 10px;
    }

    .hamburger {
        display: none;
      }

      .menu {
        position: static;
        transform: none;
        height: auto;
        background-color: transparent;
        flex-direction: row;
        padding: 0;
        overflow: visible;
      }

      .menu ul {
        flex-direction: row;
        gap: 24px;
      }

      .menu ul li a {
        color: white;
        font-size: 14px;
      }

    .menu {
        
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        z-index: 999;
        flex-direction: column;
        padding: 30px 20px;
        overflow-y: auto;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        margin-top: 68px;
    }

    .menu.active {
        display: flex;
        /* show when active */
        transform: translateX(0);
        margin-top: 68px;
    }

    .menu ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .menu ul li a {
        color: #5f1d2b;
        font-size: 18px;
    }

    .menu {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .menu.active {
        transform: translateX(0);
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 1001;
    }

    .hamburger svg {
        fill: black;
    }

    .col-md-3 {
        width: 100%;
        text-align: center;
    }

    .row {
        gap: 8px;
        display: flex;
        flex-wrap: wrap;
    }

    .footer_box.last-child {
        width: 100%;
        display: block;
        margin-top: 20px;
    }

    .footer_box:nth-child(4) {
        width: 100%;
        display: block;
    }

    .socialmedia ul {
        justify-content: space-between;
    }

    .footer_bottom {
        padding: 10px 0;
    }

    .fot-last {
        justify-content: space-between;
        gap: 35px !important;
        flex-wrap: nowrap;
    }

    .head,
    .logo-new {
        margin-bottom: 10px;
    }

    .h1-head p {
        text-align: center;
    }

    .what-btn {
        display: none;
    }
}